.main{
	font-family: Arial,sans-serif;
    max-width: 940px;
    margin: 0 auto;
    color: #0a0a0a;
    background: #fafafa;
    padding: 0 20px;
}
.row{
	
}
.is-flex{
	display: flex;
}
.va-center{
	align-items: center;
}

.col{
	padding: 20px 30px;
	width: 100%;
    max-width: 100%;
}

.col.full{
	width: 100%;
}
.green{
	color: #00d1b2;
}

.blue{
	color: #209cee;
}
.orange{
	color: #ff9970;
}
.red{
	color: #c10000;
}

.title{
	margin: 0;
}

.email{
    display: inline-block;
}

.email .subject{
	padding: 0px 0px;
	margin: 0;
}

.email .body{
	padding: 0px 0px;
	margin: 0;
}

.efficiency{
	
}



.text-center{
	text-align: center;
}

a, a:focus, a:hover, a:active {
    outline: 0;
}
a {
    color: #169ef4;
	 outline: 0;
	 text-decoration: none;
}

.icons{
	font-family: monospace;
    font-size: 120%;
    vertical-align: text-bottom;
}

.loading{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}